<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coatardbul.river.mapper.BankCnapsMapper">
  <resultMap id="BaseResultMap" type="com.coatardbul.river.model.entity.BankCnaps">
    <!--@mbg.generated-->
    <!--@Table bank_cnaps-->
    <id column="CNAPS_CODE" jdbcType="VARCHAR" property="cnapsCode" />
    <result column="CNAPS_NAME" jdbcType="VARCHAR" property="cnapsName" />
    <result column="CNAPS_ADDR" jdbcType="VARCHAR" property="cnapsAddr" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="LAST_UPDATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    CNAPS_CODE, CNAPS_NAME, CNAPS_ADDR, CREATE_TIME, LAST_UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from bank_cnaps
    where CNAPS_CODE = #{cnapsCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from bank_cnaps
    where CNAPS_CODE = #{cnapsCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.coatardbul.river.model.entity.BankCnaps">
    <!--@mbg.generated-->
    insert into bank_cnaps (CNAPS_CODE, CNAPS_NAME, CNAPS_ADDR, 
      CREATE_TIME, LAST_UPDATE_TIME)
    values (#{cnapsCode,jdbcType=VARCHAR}, #{cnapsName,jdbcType=VARCHAR}, #{cnapsAddr,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.coatardbul.river.model.entity.BankCnaps">
    <!--@mbg.generated-->
    insert into bank_cnaps
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cnapsCode != null">
        CNAPS_CODE,
      </if>
      <if test="cnapsName != null">
        CNAPS_NAME,
      </if>
      <if test="cnapsAddr != null">
        CNAPS_ADDR,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cnapsCode != null">
        #{cnapsCode,jdbcType=VARCHAR},
      </if>
      <if test="cnapsName != null">
        #{cnapsName,jdbcType=VARCHAR},
      </if>
      <if test="cnapsAddr != null">
        #{cnapsAddr,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coatardbul.river.model.entity.BankCnaps">
    <!--@mbg.generated-->
    update bank_cnaps
    <set>
      <if test="cnapsName != null">
        CNAPS_NAME = #{cnapsName,jdbcType=VARCHAR},
      </if>
      <if test="cnapsAddr != null">
        CNAPS_ADDR = #{cnapsAddr,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CNAPS_CODE = #{cnapsCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.coatardbul.river.model.entity.BankCnaps">
    <!--@mbg.generated-->
    update bank_cnaps
    set CNAPS_NAME = #{cnapsName,jdbcType=VARCHAR},
      CNAPS_ADDR = #{cnapsAddr,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where CNAPS_CODE = #{cnapsCode,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-04-29-->
  <select id="selectByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from bank_cnaps
    <where>
      <if test="cnapsCode != null">
        and CNAPS_CODE=#{cnapsCode,jdbcType=VARCHAR}
      </if>
      <if test="cnapsName != null">
        and CNAPS_NAME=#{cnapsName,jdbcType=VARCHAR}
      </if>
      <if test="cnapsAddr != null">
        and CNAPS_ADDR=#{cnapsAddr,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        and CREATE_TIME=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="lastUpdateTime != null">
        and LAST_UPDATE_TIME=#{lastUpdateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-04-29-->
  <insert id="insertList">
    INSERT INTO bank_cnaps(
    CNAPS_CODE,
    CNAPS_NAME,
    CNAPS_ADDR,
    CREATE_TIME,
    LAST_UPDATE_TIME
    )VALUES
    <foreach collection="list" item="element" index="index" separator=",">
      (
      #{element.cnapsCode,jdbcType=VARCHAR},
      #{element.cnapsName,jdbcType=VARCHAR},
      #{element.cnapsAddr,jdbcType=VARCHAR},
      #{element.createTime,jdbcType=TIMESTAMP},
      #{element.lastUpdateTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
</mapper>